.comic-navigation {
  width: 60%;
  min-width: 360px;
  margin: auto;
  border-right: solid 1px rgb(204, 200, 200);
  border-left: solid 1px rgb(204, 200, 200);
  padding: 10px 0px 10px 55px;
  box-sizing: border-box;
}
#back-btn {
  margin: auto;
  font-size: 1.2em;
  text-decoration: none;
  padding: 8px 16px;
  background-color: black;
  color: white;
  border-width: 0ch;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
}

#back-btn:active {
  padding: 8px 16px;
  box-shadow: 0px 0px 2px 2px grey;
  outline: none;
}
.comic-container {
  margin: auto;
  padding: 0px 55px 55px 55px;
  min-width: 360px;
  width: 60%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  border: solid 1px rgb(204, 200, 200);
  border-top: 0ch;
}
.comic-image,
.comic-info,
#Comic-Image {
  width: 100%;
}
.comic-info {
  padding-left: 20px;
}
h3 {
  margin: auto;
  margin-bottom: 20px;
}
.comic-date,
.comic-creators {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 20px;
}
.comic-description {
  font-size: 0.9rem;
}
@media only screen and (max-width: 1200px) {
  .comic-container,
  .comic-navigation {
    width: 70%;
  }
  .comic-date,
  .comic-creators {
    font-size: 1rem;
  }
  .comic-description {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 1100px) {
  .comic-container,
  .comic-navigation {
    width: 75%;
  }
  .comic-date,
  .comic-creators {
    font-size: 1rem;
  }
  .comic-description {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 600px) {
  .comic-container,
  .comic-navigation {
    width: 85%;
  }
  .comic-info {
    padding: unset;
  }
  h3 {
    text-align: center;
  }
  .comic-container {
    flex-direction: column;
  }
}
