.App-Header {
  display: flex;
  flex-direction: row;
  background-color: white;
  height: 50px;
  width: 60%;
  border: solid 1px rgb(204, 200, 200);
  text-align: center;
  margin: auto;
}

#App-Header-Search {
  width: 100%;
  font-size: 1.2em;
  border: none;
}
#App-Header-Search:focus {
  outline: none;
}
.App-link {
  color: #61dafb;
}
.App {
  text-align: center;
}
.App-Container {
  width: 60%;
  margin: auto;
  border: solid 1px rgb(204, 200, 200);
}
.App-Card-List {
  position: relative;
  margin: auto;
  padding: 30px 30px 30px 30px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  box-sizing: border-box;
}
.App-Card {
  position: relative;
  width: 100%;
  flex: 4 0 calc(19% - 15px);
  display: flex;
  flex-direction: column;
  margin: 15px;
}
.App-Card:hover {
  -webkit-box-shadow: 0px 0px 8px 2px #000000;
  -moz-box-shadow: 0px 0px 8px 2px #000000;
  box-shadow: 0px 0px 8px 2px #000000;
}

.App-Card:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.App-Card-Image {
  width: 100%;
  height: 325px;
}

.App-Card-Name {
  color: white;
  padding: 10px;
  font-size: 1.2em;
  font-weight: bold;
  position: absolute;
  bottom: 0;
}
.App-Card-List {
  width: 100%;
  height: 100%;
}

.App-Modal {
  padding: 10px;
  width: 40%;
  position: absolute;
  background-color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 300px;
  border: 1px solid black;
  z-index: 9999;
  top: 25%;
  border-radius: 10px;
  box-sizing: border-box;
}
.App-modal-header {
  box-sizing: border-box;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
.App-modal-item-list {
  width: 100%;
  position: relative;
  background-color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 300px;
  overflow: auto;
}
.App-modal-item-container {
  padding: 10px 10px 10px 10px;
  height: 130px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
#App-Modal-character-name {
  font-size: 1.4em;
  font-weight: bold;
  padding-left: 20px;
}

.App-modal-image {
  padding: 0px 10px 0px 10px;
  border-radius: 15px;
  width: 100px;
  height: 120px;
}
.App-modal-content {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
#App-modal-content-comicTitle {
  font-weight: bold;
}
.App-modal-content,
p {
  margin: unset;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(102, 97, 97);
}
