.Comic-Preview-Content {
  margin: auto;
  padding: 55px;
  width: 60%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  border: solid 1px rgb(204, 200, 200);
}
.Comic-Preview-Information {
  padding-left: 20px;
}
h3 {
  margin: auto;
  margin-bottom: 20px;
}
.Comic-Preview-data {
  font-weight: 500;
  margin-bottom: 20px;
}
.Comic-Preview-Description {
  padding-left: 20px;
}
